@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(15px);
  }
  60% {
    transform: translateY(8px);
  }
}

.scroll-down-arrow {
  margin: 40px auto 0;
  width: 30px;
  animation: bounce 1.5s infinite;
  cursor: pointer;
}
